@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #dadada;
  object-fit: cover;
  padding: 3px;
}

.top button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #dadada;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  gap: 4px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.center h3 {
  font-size: 18px;
  font-weight: 800;
}

.center h3 span {
  font-size: 12px;
  font-weight: 500;
  /* color: rgb(30, 30, 122); */
}

.center h2 {
  font-size: 14px;
  font-weight: 600;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;

}

.center .tag h4 {
  font-size: 10px;
  gap: 4px;
  padding: 3px 4px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #dadada;
  background-color: #f0eded;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.bottom .pay {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bottom .pay h3 {
  font-size: 10px;
  color: #1e201f;
  font-weight: 600;
}

.bottom .pay p {
  font-size: 8px;
  color: #828a86;
  font-weight: 400;
}

.bottom button {
  background-color: #242625;
  color: rgb(243, 239, 239);
  border: none;
  padding: 6px 8px;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}